<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Medecins</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid mt-3">
            <div class="card bg-light" >
                <div class="card-header bg-secondary text-light">
                    Liste des medecins
                </div>
                <div class="card-body">
                    <form method="get" th:action="@{/user/medecins}" class="mt-3">
                        <div class="d-flex justify-content-between">
                            <input type="text" name="keyword" class="form-control mx-2" placeholder="Search for a medecin by name ...">
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <hr>
                    <a
                            sec:authorize="hasAuthority('ADMIN')"
                            class="btn btn-secondary btn-sm"
                            th:href="@{/admin/formMedecins}">
                        <i class="fa-solid fa-plus"></i>
                        Nouveau medecin
                    </a>
                    <hr>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Spécialité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="m:${medecins}">
                            <td th:text="${m.id}"></td>
                            <td th:text="${m.nom}"></td>
                            <td th:text="${m.email}"></td>
                            <td th:text="${m.specialite}"></td>

                            <td sec:authorize="hasAuthority('ADMIN')" class="text-center">
                                <a
                                        th:href="@{/admin/delete/medecin(id=${m.id}, page=${currentPage}, keyword=${keyword})}"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Vous etes sûr?')"
                                >
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')" class="text-center">
                                <a

                                        th:href="@{/admin/edit/medecin(id=${m.id}, page=${currentPage}, keyword=${keyword})}"
                                        class="btn btn-warning btn-sm"
                                >
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center">
                            <li th:class="${ currentPage <= 0 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link"
                                   th:href="@{/user/medecins(page=${currentPage - 1}, keyword=${keyword})}">
                                    Previous
                                </a>
                            </li>
                            <li th:each="page,status:${pages}"
                                th:class="${status.index == currentPage ? 'page-item active' : 'page-item'}"
                            >
                                <a class="page-link"
                                   th:text="${status.index}"
                                   th:href="@{/user/medecins(page=${status.index}, keyword=${keyword})}">
                                </a>
                            </li>
                            <li th:class="${currentPage >= totalPage - 1 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link"
                                   th:href="@{/user/medecins(page=${currentPage + 1}, keyword=${keyword})}">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>