<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body border="1">
    <h2>Liste des patients</h2>
    <table class="table table-bordered table-striped">
        <thead class="bg-secondary">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Malade</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p:${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.dateNaissance}"></td>
                <td th:text="${p.malade}"></td>
                <td th:text="${p.score}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>