<!DOCTYPE html>
<html lang=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid mt-3">
            <div class="card">
                <div class="card-header">
                    Liste des patients
                </div>
                <div class="card-body">
                    <form method="get" th:action="@{index}" class="m-4">
                       <div class="d-flex justify-content-between">
                        <input type="text" name="keyword" class="form-control" placeholder="Search for a patient by name ...">
                        <button type="submit" class="btn btn-success" >Search</button>
                       </div>
                    </form>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Date de naissance</th>
                            <th>Malade</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p:${patients}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.nom}"></td>
                            <td th:text="${p.dateNaissance}"></td>
                            <td th:text="${p.malade}"></td>
                            <td th:text="${p.score}"></td>
                            <td>
                                <a
                                        th:href="@{delete(id=${p.id}, page=${currentPage}, keyword=${keyword})}"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Vous etes sûr?')"
                                >Delete</a>
                            </td>
                            <td>
                                <a
                                        th:href="@{editPatient(id=${p.id}, page=${currentPage}, keyword=${keyword})}"
                                        class="btn btn-warning btn-sm"
                                >Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination justify-content-center">
                            <li th:class="${ currentPage <= 0 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link"
                                   th:href="@{index(page=${currentPage - 1}, keyword=${keyword})}">
                                    Previous
                                </a>
                            </li>
                            <li th:each="page,status:${pages}"
                                th:class="${status.index == currentPage ? 'page-item active' : 'page-item'}"
                                >
                                <a class="page-link"
                                   th:text="${status.index}"
                                   th:href="@{index(page=${status.index}, keyword=${keyword})}">
                                </a>
                            </li>
                            <li th:class="${currentPage >= totalPage - 1 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link"
                                   th:href="@{index(page=${currentPage + 1}, keyword=${keyword})}">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>